.container {
  max-width: 938px;
  margin: 0 auto;
}

.articlesList {
  padding-bottom: 10px;
  text-align: start;
}

.pagination {
  padding-bottom: 30px;
}

.preventLink {
  pointerEvents: 'none';
}