.card {
  display: flex;
  padding: 15px;
  height: 146px;
  margin-bottom: 20px;

  div {
    width: 100%;
  }

  &.isSingle {
    margin: 0 auto;
    max-width: 938px;
    text-align: start;
    background-color: #fff;
    border-radius: 2px;
    height: fit-content;
  }
}

.left {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  flex-basis: 81%;
  margin-right: 20px;
  text-align: start;
  max-width: 81%;
 }

.right {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  flex-basis: 19%;
  max-width: 19%;
  flex-direction: row;
}

.buttons {
  flex-basis: 100%;
}

.delete,
.edit {
  cursor: pointer;
  height: 40px;
  width: 80px;
  font-size: 18px;
  line-height: 24px;
  background-color: #fff;
  border-radius: 4px;
}

.delete {
  color: #F5222D;
  border: 1px solid #F5222D;

  span {
    transform: translate(-4px, 0px);
  }
}

.edit {
  color: #1890FF;
  border: 1px solid #1890FF;
}

.title-block {
  display: flex;
  align-items: flex-start;
  margin-bottom: 25px;
}

.title-likes {
  display: flex;
  gap: 14px;
  line-height: 27px;

  &.isSingle {
    align-items: start;
  }
}

.title {
  margin: 0;
  font-size: 26px;
  word-break: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #1890FF;

  &.isSingle {
    white-space: initial;
    overflow: initial;
    text-overflow: initial;
  }
}

.likes {
  flex-basis: 9%;
  display: flex;
  font-size: 21px;
  line-height: 38px;

  span:first-child {
    margin-right: 5px;
    font-size: 34px;
  }
}

.like-icon {
  color: #1890FF;
}

.description {
  font-size: 12px;
  word-break: break-all;

  &.isSingle {
    color: rgba($color: #000000, $alpha: 0.5);
  }
  
}

.author {
  display: flex;
  flex-direction: column;

  span {
    word-break: break-all;
  }
}

.avatar {
  width: 46px;
  height: 46px;
  object-fit: cover;
  border-radius: 50%;
}

.text {
  font-size: 14px;
  word-wrap: break-word;
}